@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
a{
	color: #283593;
	text-decoration: none;
}
h3{
	margin-top: 12px;
}
*{
	margin:0px;
}
body{
	background-color: #0f0f0f;
	font-family: 'Roboto', sans-serif;
}
main{
	border-radius: 20px;
	background-color: #434343;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: calc((100% - 640px) / 2);
	width: 550px;
}
section#status{
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-radius: 20px;
	text-align: center;
	background-color: #3789C2;
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
}
section#Slots{
	border-radius: 15px;
	background-color: #FAFAFA;
    height: 200px;
	border-style: solid;
	border-color: #606060;
	border-width: 10px;
}
section#Gira{
	margin-top: 25px;
	border-radius: 100%;
	text-align: center;
	background-color: #b41828;
	color: #FFFFFF;
	font-size: 25px;
    width: 100px;
    height: 100px;
    margin-left: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
section#Gira:hover{
	background-color: #961522;
    cursor: pointer;
}
section#options{
	margin-top: 20px;
	padding-top: 5px;
	border-radius: 5px;
	color: #FFFFFF;
    
}
.option{
	padding-left: 5px;
    height: 50px;
    width: auto;
    margin-bottom: 10px;
    margin-top: auto;
}

.option:hover{
    cursor: pointer
}
#slot1, #slot2, #slot3{
	display: inline-block;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 15px;
	background-size: 135px;
	width: 135px;
	height: 135px;
}


.bottom{
    display: flex;
}

#my-canvas{
	position: fixed;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	visibility: hidden;
}
#my-canvas.active{
	visibility: visible;
}

.login-buttons{
	margin-right: 30px;
  }
  
.login-buttons button
{
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	background-color: #2c2c2c;
	width: 130%;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #ffffff;
	border-radius: 40px;
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 10px 10px;
}

.login-buttons button:hover
{
	background-color: #202020;
}
  
#userName{
	padding: 10px 10px;
	color: #ffffff;
	vertical-align: middle;
	display: flex;
    justify-content: center;
    align-items: center;
}
  
.usuario{
	display: flex;
	padding: 0px 10px;
	border-radius: 40px;
	background-color: #434343;
	width: fit-content;
	margin-top: 20px;
	margin-left: 30px;
	border-color: #0f0f0f00;
}

.stats{
	margin-top: 30px;
	margin-left: 30px;
	width: 20%;
	border-radius: 20px;
	position: absolute;
	background-color: #606060;
	min-width: 220px;
}

.stats-title{
	color: #ffffff;
	background-color: #400D12;
	width: fit-content;
	padding: 10px 25%;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

.stats-group{
	display: flex;
	flex-wrap: wrap;
}

#score, #wins{
    font-size: 20px;
    background-color: #2c2c2c;
    padding: 2% 4%;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
	margin: auto;
	margin-top: 10px;
}

.leaderboard{
	width:25%;
	top: 20px;
	left: auto;
	right: 30px;
	border-radius: 20px;
	position: absolute;
	background-color: #606060;
	min-width: 290px;
	min-height: 575px;
	height: calc(fit-content+20px);
}

.leader-title{
	color: #ffffff;
	background-color: #d8a114;
	width: 70%;
	padding: 10px 35px;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

.scores{
	font-size: 20px;
    background-color: #2c2c2c;
    padding: 2% 2%;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
	margin: auto;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 40px;
	text-align: center;
}

.a1{
	background-image: url("src/tiles/seven.png");
}
.a2{
	background-image: url("src/tiles/cherries.png");
}
.a3{
	background-image: url("src/tiles/club.png");
}
.a4{
	background-image: url("src/tiles/diamond.png");
}
.a5{
	background-image: url("src/tiles/heart.png");
}
.a6{
	background-image: url("src/tiles/spade.png");
}
.a7{
	background-image: url("src/tiles/joker.png");
}